/* @theme nws */
@import "default";
/* Variables de couleur */
:root {
    --clr: #@;
    --clr-accent: #4f46e5;
    --bg: #eef2ff;
    --bg-accent-light: #e0e7ff;
}

:root.invert {
    --clr: #eef2ff;
    --clr-accent: #a5b4fc;
    --bg: #1e1b4b;
}

body {
    background-color: var(--bg);
    color: var(--clr);
}
a {
    color: var(--clr-accent);
    text-decoration: underline;
    text-underline-offset: 2px;
}
a::after {
    content: " ↗";
}
/* ==========================
   Heading Styles
   ========================== */

/* Titres de niveau 1 */
h1,
h2 {
    color: var(--clr-accent);
    line-height: 1.1;
    text-wrap: balance;
    font-weight: 900;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0.5em;
}

:where(h1, h2, h3, h4) strong {
    color: var(--clr-accent) !important;
}
:where(h1, h2, h3, h4) code {
    color: var(--clr-accent);
    background-color: var(--bg-accent-light);
    padding: 0.5em;
}

ul,
ol {
    list-style: none;
    padding-inline-start: 0;
}

:where(ul, ol) li::before {
    margin-right: 0.5em;
    margin-block: 0.5em;
}

ul li::before {
    content: "→";
    font-weight: bold;
    color: var(--clr-accent);
}

ol li::before {
    content: counter(list-item);
    color: var(--bg);
    background-color: var(--clr-accent);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95em;
    font-weight: bold;
}

ul ul {
    padding-inline-start: 2rem;
}

ul ul li::before {
    content: "•";
    font-weight: bold;
    color: var(--clr-accent);
}

section.two-cols-list > ul,
section.two-cols-list > ol {
    columns: 2;
    column-gap: 2rem;
}

strong {
    font-weight: 600;
    color: var(--clr-accent);
}

blockquote {
    margin-block: 1rem;
    border-color: var(--bg-accent-light);
}

code,
pre {
    margin-block: 1rem;
    border-color: var(--clr-accent);
    background-color: var(--bg);
    font-family: "Courier New", Courier, monospace;
}

/* ==========================
   Layout Styles
   ========================== */

/* Sections de couverture */
section.cover {
    place-content: center;
    text-align: center;
    font-size: 3em;
    background-color: var(--clr-accent);
    color: #a5b4fc;

    h1 {
        color: white;
    }
}

section.separator {
    text-align: center;
}

section.exercise {
    place-content: center;
    background-color: var(--bg-accent-light);
    outline: 6px dashed #a5b4fc;
    outline-offset: -20px;
}
